In [1]:
#Imports
import os
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\jordo\\OneDrive\\Desktop\\git-projects\\Project-4': ['.git', '.gitignore', '.ipynb_checkpoints', 'California_Complete.csv', 'Cancer_demo_merge.ipynb', 'Demographics Merge copy.ipynb', 'Demographics Merge.ipynb', 'High_pop_cancer.ipynb', 'High_Pop_cancer_demo_merge.ipynb', 'High_pop_demo_merge.ipynb', 'High_Pop_Resources', 'README.md', 'Resources', 'States_Merge.ipynb']

In [3]:
#Read in California Cancer and Demographics CSVs
Ca_demo_df = pd.read_csv(
    "High_Pop_Resources/California_demo.csv")
Ca_cancer_df = pd.read_csv(
    "High_Pop_Resources/California_cancer.csv")

#Print dataframe to endure correct importation
Ca_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,California,Alpine County,271.7,22,5482,235.3,19
1,California,Sierra County,307.7,88,14804,98.1,31
2,California,Modoc County,310.5,220,44266,121.6,99
3,California,Mono County,250.9,235,71973,57.1,55
4,California,Trinity County,378.7,426,62705,116.3,142

In [4]:
#Remove county from 'county' column for merging
Ca_cancer_df['County'] = Ca_cancer_df['County'].replace(' County', ' ', regex=True)

Ca_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,California,Alpine,271.7,22,5482,235.3,19
1,California,Sierra,307.7,88,14804,98.1,31
2,California,Modoc,310.5,220,44266,121.6,99
3,California,Mono,250.9,235,71973,57.1,55
4,California,Trinity,378.7,426,62705,116.3,142

In [5]:
Ca_demo_df.head()

,California Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x.1,White Poverty %,County FIPS_y.1,Black Poverty %,County FIPS_x.2,Asian Poverty %,County FIPS_y.2,Foreign Poverty %,County FIPS_x.3,Native Poverty %,County FIPS_y.3,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"Santa Clara, California",6085.0,140258.0,6085.0,4.5,6085.0,39.0,6085.0,2.5,6085.0,38.5,6085.0,39.9,6085.0,0.6,6085.0,25.1,6085.0,74.9
1,"San Mateo, California",6081.0,136837.0,6081.0,4.6,6081.0,45.9,6081.0,2.4,6081.0,31.1,6081.0,35.1,6081.0,0.7,6081.0,24.1,6081.0,75.9
2,"Marin, California",6041.0,131008.0,6041.0,5.2,6041.0,75.3,6041.0,2.3,6041.0,6.2,6041.0,18.5,6041.0,0.4,6041.0,16.4,6041.0,83.6
3,"San Francisco, California",6075.0,126187.0,6075.0,5.3,6075.0,43.4,6075.0,5.2,6075.0,34.7,6075.0,34.1,6075.0,0.5,6075.0,15.4,6075.0,84.6
4,"Alameda, California",6001.0,112017.0,6001.0,5.0,6001.0,35.9,6001.0,10.2,6001.0,32.4,6001.0,32.9,6001.0,0.7,6001.0,22.4,6001.0,77.6

In [6]:
#Rename FIPS and Income column for merging
Ca_demo_df = Ca_demo_df.rename(columns={'California Counties':'County', 'County FIPS_x': 'FIPS',
                                        'Dollars': 'Income', 'Uninsured Percent': 'Uninsured %'})

#Drop unnecessary FIPS columns
Ca_demo_df = Ca_demo_df.drop(columns=['County FIPS_y', 'County FIPS_x.1', 'County FIPS_y.1', 'County FIPS_x.2',
                                     'County FIPS_y.2', 'County FIPS_x.3', 'County FIPS_y.3'])

#Remove California from County Column
Ca_demo_df['County'] = Ca_demo_df['County'].replace(', California', ' ', regex=True)

Ca_demo_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,Santa Clara,6085.0,140258.0,4.5,39.0,2.5,38.5,39.9,0.6,25.1,6085.0,74.9
1,San Mateo,6081.0,136837.0,4.6,45.9,2.4,31.1,35.1,0.7,24.1,6081.0,75.9
2,Marin,6041.0,131008.0,5.2,75.3,2.3,6.2,18.5,0.4,16.4,6041.0,83.6
3,San Francisco,6075.0,126187.0,5.3,43.4,5.2,34.7,34.1,0.5,15.4,6075.0,84.6
4,Alameda,6001.0,112017.0,5.0,35.9,10.2,32.4,32.9,0.7,22.4,6001.0,77.6

In [7]:
#Merge the two dataframes and display result
Ca_complete_df = Ca_demo_df.merge(Ca_cancer_df, how="left",on="County")
Ca_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Santa Clara,6085.0,140258.0,4.5,39.0,2.5,38.5,39.9,0.6,25.1,6085.0,74.9,California,378.6,39840.0,9621896.0,113.5,11942.0
1,San Mateo,6081.0,136837.0,4.6,45.9,2.4,31.1,35.1,0.7,24.1,6081.0,75.9,California,397.6,18703.0,3828114.0,114.0,5548.0
2,Marin,6041.0,131008.0,5.2,75.3,2.3,6.2,18.5,0.4,16.4,6041.0,83.6,California,442.0,8768.0,1297205.0,111.7,2400.0
3,San Francisco,6075.0,126187.0,5.3,43.4,5.2,34.7,34.1,0.5,15.4,6075.0,84.6,California,380.0,19842.0,4373922.0,121.6,6639.0
4,Alameda,6001.0,112017.0,5.0,35.9,10.2,32.4,32.9,0.7,22.4,6001.0,77.6,California,371.5,34446.0,8307920.0,125.0,11391.0

In [9]:
#Export complete dataframe to csv
Ca_complete_df.to_csv('California_Complete.csv', encoding='utf-8')
Ca_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Santa Clara,6085.0,140258.0,4.5,39.0,2.5,38.5,39.9,0.6,25.1,6085.0,74.9,California,378.6,39840.0,9621896.0,113.5,11942.0
1,San Mateo,6081.0,136837.0,4.6,45.9,2.4,31.1,35.1,0.7,24.1,6081.0,75.9,California,397.6,18703.0,3828114.0,114.0,5548.0
2,Marin,6041.0,131008.0,5.2,75.3,2.3,6.2,18.5,0.4,16.4,6041.0,83.6,California,442.0,8768.0,1297205.0,111.7,2400.0
3,San Francisco,6075.0,126187.0,5.3,43.4,5.2,34.7,34.1,0.5,15.4,6075.0,84.6,California,380.0,19842.0,4373922.0,121.6,6639.0
4,Alameda,6001.0,112017.0,5.0,35.9,10.2,32.4,32.9,0.7,22.4,6001.0,77.6,California,371.5,34446.0,8307920.0,125.0,11391.0

In [10]:
#Read in Florida Cancer and Demographics CSVs
Fl_demo_df = pd.read_csv(
    "High_Pop_Resources/Florida_demo.csv")
Fl_cancer_df = pd.read_csv(
    "High_Pop_Resources/Florida_cancer.csv")

#Print dataframe to endure correct importation
Fl_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Florida,Liberty County,451.6,222,41667,179.7,86
1,Florida,Lafayette County,452.0,232,42878,193.8,100
2,Florida,Holmes County,267.2,365,97651,175.9,254
3,Florida,Hamilton County,405.9,382,71986,202.9,191
4,Florida,Franklin County,430.6,409,59572,172.6,170

In [11]:
#Remove county from 'county' column for merging
Fl_cancer_df['County'] = Fl_cancer_df['County'].replace(' County', ' ', regex=True)

Fl_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Florida,Liberty,451.6,222,41667,179.7,86
1,Florida,Lafayette,452.0,232,42878,193.8,100
2,Florida,Holmes,267.2,365,97651,175.9,254
3,Florida,Hamilton,405.9,382,71986,202.9,191
4,Florida,Franklin,430.6,409,59572,172.6,170

In [12]:
Fl_demo_df.head()

,Florida Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x.1,White Poverty %,County FIPS_y.1,Black Poverty %,County FIPS_x.2,Asian Poverty %,County FIPS_y.2,Foreign Poverty %,County FIPS_x.3,Native Poverty %,County FIPS_y.3,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"St. Johns, Florida",12109.0,88794.0,12109.0,4.7,12109.0,84.9,12109.0,5.3,12109.0,3.1,12109.0,8.0,12109.0,0.1,12109.0,7.6,12109.0,92.4
1,"Nassau, Florida",12089.0,77504.0,12089.0,4.8,12089.0,88.5,12089.0,5.5,12089.0,1.0,12089.0,4.0,12089.0,0.3,12089.0,4.8,12089.0,95.2
2,"Santa Rosa, Florida",12113.0,77260.0,12113.0,4.9,12113.0,83.7,12113.0,5.9,12113.0,2.1,12113.0,5.0,12113.0,0.4,12113.0,6.0,12113.0,94.0
3,"Collier, Florida",12021.0,75543.0,12021.0,4.2,12021.0,79.6,12021.0,6.6,12021.0,1.5,12021.0,25.6,12021.0,0.2,12021.0,28.5,12021.0,71.5
4,"Clay, Florida",12019.0,74059.0,12019.0,4.8,12019.0,75.2,12019.0,11.0,12019.0,2.9,12019.0,6.4,12019.0,0.1,12019.0,10.5,12019.0,89.5

In [13]:
#Rename FIPS and Income column for merging
Fl_demo_df = Fl_demo_df.rename(columns={'Florida Counties':'County', 'County FIPS_x': 'FIPS',
                                        'Dollars': 'Income', 'Uninsured Percent': 'Uninsured %'})

#Drop unnecessary FIPS columns
Fl_demo_df = Fl_demo_df.drop(columns=['County FIPS_y', 'County FIPS_x.1', 'County FIPS_y.1', 'County FIPS_x.2',
                                     'County FIPS_y.2', 'County FIPS_x.3', 'County FIPS_y.3'])

#Remove Florida from County Column
Fl_demo_df['County'] = Fl_demo_df['County'].replace(', Florida', ' ', regex=True)

Fl_demo_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,St. Johns,12109.0,88794.0,4.7,84.9,5.3,3.1,8.0,0.1,7.6,12109.0,92.4
1,Nassau,12089.0,77504.0,4.8,88.5,5.5,1.0,4.0,0.3,4.8,12089.0,95.2
2,Santa Rosa,12113.0,77260.0,4.9,83.7,5.9,2.1,5.0,0.4,6.0,12113.0,94.0
3,Collier,12021.0,75543.0,4.2,79.6,6.6,1.5,25.6,0.2,28.5,12021.0,71.5
4,Clay,12019.0,74059.0,4.8,75.2,11.0,2.9,6.4,0.1,10.5,12019.0,89.5

In [14]:
#Merge the two dataframes and display result
Fl_complete_df = Fl_demo_df.merge(Fl_cancer_df, how="left",on="County")
Fl_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,St. Johns,12109.0,88794.0,4.7,84.9,5.3,3.1,8.0,0.1,7.6,12109.0,92.4,Florida,488.8,8839.0,1277049.0,132.8,2464.0
1,Nassau,12089.0,77504.0,4.8,88.5,5.5,1.0,4.0,0.3,4.8,12089.0,95.2,Florida,555.9,3624.0,428811.0,176.4,1167.0
2,Santa Rosa,12113.0,77260.0,4.9,83.7,5.9,2.1,5.0,0.4,6.0,12113.0,94.0,Florida,481.4,5343.0,897936.0,152.7,1675.0
3,Collier,12021.0,75543.0,4.2,79.6,6.6,1.5,25.6,0.2,28.5,12021.0,71.5,Florida,402.0,14261.0,1896727.0,102.6,4288.0
4,Clay,12019.0,74059.0,4.8,75.2,11.0,2.9,6.4,0.1,10.5,12019.0,89.5,Florida,495.0,6446.0,1076468.0,166.3,2088.0

In [16]:
#Export complete dataframe to csv
Fl_complete_df.to_csv('Florida_Complete.csv', encoding='utf-8')
Fl_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,St. Johns,12109.0,88794.0,4.7,84.9,5.3,3.1,8.0,0.1,7.6,12109.0,92.4,Florida,488.8,8839.0,1277049.0,132.8,2464.0
1,Nassau,12089.0,77504.0,4.8,88.5,5.5,1.0,4.0,0.3,4.8,12089.0,95.2,Florida,555.9,3624.0,428811.0,176.4,1167.0
2,Santa Rosa,12113.0,77260.0,4.9,83.7,5.9,2.1,5.0,0.4,6.0,12113.0,94.0,Florida,481.4,5343.0,897936.0,152.7,1675.0
3,Collier,12021.0,75543.0,4.2,79.6,6.6,1.5,25.6,0.2,28.5,12021.0,71.5,Florida,402.0,14261.0,1896727.0,102.6,4288.0
4,Clay,12019.0,74059.0,4.8,75.2,11.0,2.9,6.4,0.1,10.5,12019.0,89.5,Florida,495.0,6446.0,1076468.0,166.3,2088.0

In [17]:
#Read in Texas Cancer and Demographics CSVs
Tx_demo_df = pd.read_csv(
    "High_Pop_Resources/Texas_demo.csv")
Tx_cancer_df = pd.read_csv(
    "High_Pop_Resources/Texas_cancer.csv")

#Print dataframe to endure correct importation
Tx_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Texas,Kenedy County,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
1,Texas,King County,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
2,Texas,Loving County,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
3,Texas,Terrell County,329.6,18,3871,Data not presented,Data not presented
4,Texas,Roberts County,306.1,21,4386,Data not presented,Data not presented

In [18]:
#Remove county from 'county' column for merging
Tx_cancer_df['County'] = Tx_cancer_df['County'].replace(' County', ' ', regex=True)

Tx_cancer_df.head()

,Area,County,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Texas,Kenedy,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
1,Texas,King,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
2,Texas,Loving,Data not presented,Data not presented,Data not presented,Data not presented,Data not presented
3,Texas,Terrell,329.6,18,3871,Data not presented,Data not presented
4,Texas,Roberts,306.1,21,4386,Data not presented,Data not presented

In [19]:
Tx_demo_df.head()

,Texas Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x.1,White Poverty %,County FIPS_y.1,Black Poverty %,County FIPS_x.2,Asian Poverty %,County FIPS_y.2,Foreign Poverty %,County FIPS_x.3,Native Poverty %,County FIPS_y.3,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"Rockwall, Texas",48397.0,111595,48397.0,3.6,48397.0,77.4,48397.0,7.2,48397.0,3.1,48397.0,8.9,48397.0,0.9,48397.0,18.8,48397.0,81.2
1,"Collin, Texas",48085.0,104327,48085.0,4.3,48085.0,62.9,48085.0,10.1,48085.0,16.4,48085.0,21.8,48085.0,0.4,48085.0,15.6,48085.0,84.4
2,"Fort Bend, Texas",48157.0,102590,48157.0,5.5,48157.0,44.8,48157.0,20.2,48157.0,21.0,48157.0,29.3,48157.0,0.3,48157.0,24.9,48157.0,75.1
3,"Kendall, Texas",48259.0,100706,48259.0,4.2,48259.0,82.9,48259.0,0.3,48259.0,1.4,48259.0,6.9,48259.0,0.5,48259.0,24.8,48259.0,75.2
4,"Denton, Texas",48121.0,96265,48121.0,4.1,48121.0,68.2,48121.0,10.3,48121.0,9.6,48121.0,15.9,48121.0,0.5,48121.0,19.6,48121.0,80.4

In [20]:
#Rename FIPS and Income column for merging
Tx_demo_df = Tx_demo_df.rename(columns={'Texas Counties':'County', 'County FIPS_x': 'FIPS',
                                        'Dollars': 'Income', 'Uninsured Percent': 'Uninsured %'})

#Drop unnecessary FIPS columns
Tx_demo_df = Tx_demo_df.drop(columns=['County FIPS_y', 'County FIPS_x.1', 'County FIPS_y.1', 'County FIPS_x.2',
                                     'County FIPS_y.2', 'County FIPS_x.3', 'County FIPS_y.3'])

#Remove California from County Column
Tx_demo_df['County'] = Tx_demo_df['County'].replace(', Texas', ' ', regex=True)

Tx_demo_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,Rockwall,48397.0,111595,3.6,77.4,7.2,3.1,8.9,0.9,18.8,48397.0,81.2
1,Collin,48085.0,104327,4.3,62.9,10.1,16.4,21.8,0.4,15.6,48085.0,84.4
2,Fort Bend,48157.0,102590,5.5,44.8,20.2,21.0,29.3,0.3,24.9,48157.0,75.1
3,Kendall,48259.0,100706,4.2,82.9,0.3,1.4,6.9,0.5,24.8,48259.0,75.2
4,Denton,48121.0,96265,4.1,68.2,10.3,9.6,15.9,0.5,19.6,48121.0,80.4

In [21]:
#Merge the two dataframes and display result
Tx_complete_df = Tx_demo_df.merge(Tx_cancer_df, how="left",on="County")
Tx_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Rockwall,48397.0,111595,3.6,77.4,7.2,3.1,8.9,0.9,18.8,48397.0,81.2,Texas,411.6,2166,505877,140.2,688
1,Collin,48085.0,104327,4.3,62.9,10.1,16.4,21.8,0.4,15.6,48085.0,84.4,Texas,399,19367,5030190,118.8,5223
2,Fort Bend,48157.0,102590,5.5,44.8,20.2,21.0,29.3,0.3,24.9,48157.0,75.1,Texas,377.1,14541,3954459,116.3,4032
3,Kendall,48259.0,100706,4.2,82.9,0.3,1.4,6.9,0.5,24.8,48259.0,75.2,Texas,380.5,1183,227456,118.9,377
4,Denton,48121.0,96265,4.1,68.2,10.3,9.6,15.9,0.5,19.6,48121.0,80.4,Texas,412.6,16504,4308452,123.5,4424

In [22]:
#Export complete dataframe to csv
Tx_complete_df.to_csv('Texas_Complete.csv', encoding='utf-8')
Tx_complete_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %,Area,New Case Rate,Case Count,Population,Death Rate,Death Count
0,Rockwall,48397.0,111595,3.6,77.4,7.2,3.1,8.9,0.9,18.8,48397.0,81.2,Texas,411.6,2166,505877,140.2,688
1,Collin,48085.0,104327,4.3,62.9,10.1,16.4,21.8,0.4,15.6,48085.0,84.4,Texas,399,19367,5030190,118.8,5223
2,Fort Bend,48157.0,102590,5.5,44.8,20.2,21.0,29.3,0.3,24.9,48157.0,75.1,Texas,377.1,14541,3954459,116.3,4032
3,Kendall,48259.0,100706,4.2,82.9,0.3,1.4,6.9,0.5,24.8,48259.0,75.2,Texas,380.5,1183,227456,118.9,377
4,Denton,48121.0,96265,4.1,68.2,10.3,9.6,15.9,0.5,19.6,48121.0,80.4,Texas,412.6,16504,4308452,123.5,4424