In [1]:
#Imports
import os
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\jordo\\OneDrive\\Desktop\\git-projects\\Project-4': ['.git', '.gitignore', '.ipynb_checkpoints', 'California_demo', 'Cancer_demo_merge.ipynb', 'Demographics Merge.ipynb', 'High_pop_cancer.ipynb', 'High_pop_demo_merge.ipynb', 'High_Pop_Resources', 'README.md', 'Resources']

In [3]:
# Read in California CSVs
Ca_income_df = pd.read_csv("High_Pop_Resources/California/California_Counties_Median_Household_Income_(Both_Sexes_-_2017_to_2021).csv")
Ca_income_df.dropna(how='all', axis=1, inplace=True)

Ca_uninsured_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Uninsured_Unemployed_(Both_Sexes_-_Ages_16+_-_2017_to_2021).csv")
Ca_uninsured_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_white_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_White_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_white_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_black_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_Black_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_black_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_asian_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_Asian_Pacific_Islander_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_asian_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_foreign_born_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_Foreign_Born_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_foreign_born_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_native_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_American_Indian_Alaska_Native_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_native_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_hispanic_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_Hispanic_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_hispanic_df.dropna(how='all', axis=1, inplace=True)

Ca_poverty_non_hispanic_df = pd.read_csv(
    "High_Pop_Resources/California/California_Counties_Poverty_Non-Hispanic_(Origin_Recode_(Both_Sexes_-_2017_to_2021).csv")
Ca_poverty_non_hispanic_df.dropna(how='all', axis=1, inplace=True)
Ca_poverty_hispanic_df.head()

                     Area  County FIPS  Percent
0    Imperial, California       6025.0     85.1
1      Tulare, California       6107.0     65.8
2      Merced, California       6047.0     61.2
3  San Benito, California       6069.0     60.9
4      Colusa, California       6011.0     60.5

In [4]:
# Rename Income and uninsured Area columns
Ca_income_df.columns = ["California Counties", "County FIPS", "Dollars"]
Ca_uninsured_df.columns = ["California Counties", "County FIPS", "Uninsured Percent"]
Ca_income_df.head()

         California Counties  County FIPS   Dollars
0    Santa Clara, California       6085.0  140258.0
1      San Mateo, California       6081.0  136837.0
2          Marin, California       6041.0  131008.0
3  San Francisco, California       6075.0  126187.0
4        Alameda, California       6001.0  112017.0

In [5]:
#Rename race-specific poverty columns
Ca_poverty_white_df.columns = ["California Counties", "County FIPS", "White Poverty %"]
Ca_poverty_black_df.columns = ["California Counties", "County FIPS", "Black Poverty %"]
Ca_poverty_asian_df.columns = ["California Counties", "County FIPS", "Asian Poverty %"]
Ca_poverty_foreign_born_df.columns = ["California Counties", "County FIPS", "Foreign Poverty %"]
Ca_poverty_native_df.columns = ["California Counties", "County FIPS", "Native Poverty %"]
Ca_poverty_hispanic_df.columns = ["California Counties", "County FIPS", "Hispanic Poverty %"]
Ca_poverty_non_hispanic_df.columns = ["California Counties", "County FIPS", "Non Hispanic Poverty %"]
Ca_poverty_white_df.head()

    California Counties  County FIPS  White Poverty %
0    Nevada, California       6057.0             90.5
1    Sierra, California       6091.0             90.2
2    Plumas, California       6063.0             88.6
3  Mariposa, California       6043.0             85.8
4  Tuolumne, California       6109.0             85.4

In [6]:
#place all demographic dfs into list for merging
Ca_list = [Ca_income_df,Ca_uninsured_df,Ca_poverty_white_df,Ca_poverty_black_df,Ca_poverty_asian_df,
           Ca_poverty_foreign_born_df,Ca_poverty_native_df,Ca_poverty_hispanic_df,Ca_poverty_non_hispanic_df,]

In [7]:
#Merge list of dfs into one dataframe
from functools import reduce

Ca_merged = reduce(lambda  left,right: pd.merge(left,right,on=["California Counties"],
                                            how='outer'), Ca_list)

Ca_merged.to_csv('California_demo.csv', encoding='utf-8')

Ca_merged.head()

C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\3501408955.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Ca_merged = reduce(lambda  left,right: pd.merge(left,right,on=["California Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\3501408955.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Ca_merged = reduce(lambda  left,right: pd.merge(left,right,on=["California Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\3501408955.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Ca_merged = reduce(lambda  left,right: pd.merge(left,right,on=["California Counties"],

,California Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x,White Poverty %,County FIPS_y,Black Poverty %,County FIPS_x,Asian Poverty %,County FIPS_y,Foreign Poverty %,County FIPS_x,Native Poverty %,County FIPS_y,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"Santa Clara, California",6085.0,140258.0,6085.0,4.5,6085.0,39.0,6085.0,2.5,6085.0,38.5,6085.0,39.9,6085.0,0.6,6085.0,25.1,6085.0,74.9
1,"San Mateo, California",6081.0,136837.0,6081.0,4.6,6081.0,45.9,6081.0,2.4,6081.0,31.1,6081.0,35.1,6081.0,0.7,6081.0,24.1,6081.0,75.9
2,"Marin, California",6041.0,131008.0,6041.0,5.2,6041.0,75.3,6041.0,2.3,6041.0,6.2,6041.0,18.5,6041.0,0.4,6041.0,16.4,6041.0,83.6
3,"San Francisco, California",6075.0,126187.0,6075.0,5.3,6075.0,43.4,6075.0,5.2,6075.0,34.7,6075.0,34.1,6075.0,0.5,6075.0,15.4,6075.0,84.6
4,"Alameda, California",6001.0,112017.0,6001.0,5.0,6001.0,35.9,6001.0,10.2,6001.0,32.4,6001.0,32.9,6001.0,0.7,6001.0,22.4,6001.0,77.6

In [8]:
# Read in Florida CSVs
Fl_income_df = pd.read_csv("High_Pop_Resources/Florida/Florida_Counties_Median_Household_Income_(Both_Sexes_-_2017_to_2021).csv")
Fl_income_df.dropna(how='all', axis=1, inplace=True)

Fl_uninsured_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Uninsured_Unemployed_(Both_Sexes_-_Ages_16+_-_2017_to_2021).csv")
Fl_uninsured_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_white_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_White_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_white_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_black_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_Black_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_black_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_asian_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_Asian_Pacific_Islander_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_asian_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_foreign_born_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_Foreign_Born_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_foreign_born_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_native_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_American_Indian_Alaska_Native_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_native_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_hispanic_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_Hispanic_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_hispanic_df.dropna(how='all', axis=1, inplace=True)

Fl_poverty_non_hispanic_df = pd.read_csv(
    "High_Pop_Resources/Florida/Florida_Counties_Poverty_Non-Hispanic_(Origin_Recode_(Both_Sexes_-_2017_to_2021).csv")
Fl_poverty_non_hispanic_df.dropna(how='all', axis=1, inplace=True)
Fl_poverty_black_df.head()

                 Area  County FIPS  Percent
0    Gadsden, Florida      12039.0     55.3
1    Madison, Florida      12079.0     36.8
2   Hamilton, Florida      12047.0     34.3
3  Jefferson, Florida      12065.0     33.0
4       Leon, Florida      12073.0     31.0

In [9]:
# Rename Income and uninsured Area columns
Fl_income_df.columns = ["Florida Counties", "County FIPS", "Dollars"]
Fl_uninsured_df.columns = ["Florida Counties", "County FIPS", "Uninsured Percent"]
Fl_income_df.head()

      Florida Counties  County FIPS  Dollars
0   St. Johns, Florida      12109.0  88794.0
1      Nassau, Florida      12089.0  77504.0
2  Santa Rosa, Florida      12113.0  77260.0
3     Collier, Florida      12021.0  75543.0
4        Clay, Florida      12019.0  74059.0

In [10]:
#Rename race-specific poverty columns
Fl_poverty_white_df.columns = ["Florida Counties", "County FIPS", "White Poverty %"]
Fl_poverty_black_df.columns = ["Florida Counties", "County FIPS", "Black Poverty %"]
Fl_poverty_asian_df.columns = ["Florida Counties", "County FIPS", "Asian Poverty %"]
Fl_poverty_foreign_born_df.columns = ["Florida Counties", "County FIPS", "Foreign Poverty %"]
Fl_poverty_native_df.columns = ["Florida Counties", "County FIPS", "Native Poverty %"]
Fl_poverty_hispanic_df.columns = ["Florida Counties", "County FIPS", "Hispanic Poverty %"]
Fl_poverty_non_hispanic_df.columns = ["Florida Counties", "County FIPS", "Non Hispanic Poverty %"]
Fl_poverty_white_df.head()

     Florida Counties  County FIPS  White Poverty %
0     Citrus, Florida      12017.0             90.9
1  Gilchrist, Florida      12041.0             89.1
2     Nassau, Florida      12089.0             88.5
3     Sumter, Florida      12119.0             88.0
4   Sarasota, Florida      12115.0             87.9

In [11]:
#place all demographic dfs into list for merging
Fl_list = [Fl_income_df,Fl_uninsured_df,Fl_poverty_white_df,Fl_poverty_black_df,Fl_poverty_asian_df,
           Fl_poverty_foreign_born_df,Fl_poverty_native_df,Fl_poverty_hispanic_df,Fl_poverty_non_hispanic_df,]

In [13]:
#Merge list of dfs into one dataframe
from functools import reduce

Fl_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Florida Counties"],
                                            how='outer'), Fl_list)

Fl_merged.to_csv('Florida_demo.csv', encoding='utf-8')

Fl_merged.head()

C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\2624797977.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Fl_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Florida Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\2624797977.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Fl_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Florida Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\2624797977.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Fl_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Florida Counties"],

,Florida Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x,White Poverty %,County FIPS_y,Black Poverty %,County FIPS_x,Asian Poverty %,County FIPS_y,Foreign Poverty %,County FIPS_x,Native Poverty %,County FIPS_y,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"St. Johns, Florida",12109.0,88794.0,12109.0,4.7,12109.0,84.9,12109.0,5.3,12109.0,3.1,12109.0,8.0,12109.0,0.1,12109.0,7.6,12109.0,92.4
1,"Nassau, Florida",12089.0,77504.0,12089.0,4.8,12089.0,88.5,12089.0,5.5,12089.0,1.0,12089.0,4.0,12089.0,0.3,12089.0,4.8,12089.0,95.2
2,"Santa Rosa, Florida",12113.0,77260.0,12113.0,4.9,12113.0,83.7,12113.0,5.9,12113.0,2.1,12113.0,5.0,12113.0,0.4,12113.0,6.0,12113.0,94.0
3,"Collier, Florida",12021.0,75543.0,12021.0,4.2,12021.0,79.6,12021.0,6.6,12021.0,1.5,12021.0,25.6,12021.0,0.2,12021.0,28.5,12021.0,71.5
4,"Clay, Florida",12019.0,74059.0,12019.0,4.8,12019.0,75.2,12019.0,11.0,12019.0,2.9,12019.0,6.4,12019.0,0.1,12019.0,10.5,12019.0,89.5

In [14]:
# Read in Texas CSVs
Tx_income_df = pd.read_csv("High_Pop_Resources/Texas/Texas_Counties_Median_Household_Income_(Both_Sexes_-_2017_to_2021).csv")
Tx_income_df.dropna(how='all', axis=1, inplace=True)

Tx_uninsured_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Uninsured_Unemployed_(Both_Sexes_-_Ages_16+_-_2017_to_2021).csv")
Tx_uninsured_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_white_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_White_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_white_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_black_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_Black_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_black_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_asian_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_Asian_Pacific_Islander_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_asian_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_foreign_born_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_Foreign_Born_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_foreign_born_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_native_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_American_Indian_Alaska_Native_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_native_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_hispanic_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_Hispanic_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_hispanic_df.dropna(how='all', axis=1, inplace=True)

Tx_poverty_non_hispanic_df = pd.read_csv(
    "High_Pop_Resources/Texas/Texas_Counties_Poverty_Non-Hispanic_(Origin_Recode_(Both_Sexes_-_2017_to_2021).csv")
Tx_poverty_non_hispanic_df.dropna(how='all', axis=1, inplace=True)
Tx_poverty_asian_df.head()

                Area  County FIPS Percent
0   Fort Bend, Texas      48157.0    21.0
1      Collin, Texas      48085.0    16.4
2      Denton, Texas      48121.0     9.6
3  Williamson, Texas      48491.0     7.6
4      Harris, Texas      48201.0     7.1

In [15]:
# Rename Income and uninsured Area columns
Tx_income_df.columns = ["Texas Counties", "County FIPS", "Dollars"]
Tx_uninsured_df.columns = ["Texas Counties", "County FIPS", "Uninsured Percent"]
Tx_income_df.head()

     Texas Counties  County FIPS Dollars
0   Rockwall, Texas      48397.0  111595
1     Collin, Texas      48085.0  104327
2  Fort Bend, Texas      48157.0  102590
3    Kendall, Texas      48259.0  100706
4     Denton, Texas      48121.0   96265

In [16]:
#Rename race-specific poverty columns
Tx_poverty_white_df.columns = ["Texas Counties", "County FIPS", "White Poverty %"]
Tx_poverty_black_df.columns = ["Texas Counties", "County FIPS", "Black Poverty %"]
Tx_poverty_asian_df.columns = ["Texas Counties", "County FIPS", "Asian Poverty %"]
Tx_poverty_foreign_born_df.columns = ["Texas Counties", "County FIPS", "Foreign Poverty %"]
Tx_poverty_native_df.columns = ["Texas Counties", "County FIPS", "Native Poverty %"]
Tx_poverty_hispanic_df.columns = ["Texas Counties", "County FIPS", "Hispanic Poverty %"]
Tx_poverty_non_hispanic_df.columns = ["Texas Counties", "County FIPS", "Non Hispanic Poverty %"]
Tx_poverty_hispanic_df.head()

    Texas Counties  County FIPS Hispanic Poverty %
0    Kenedy, Texas      48261.0               98.2
1     Starr, Texas      48427.0               96.3
2      Webb, Texas      48479.0               95.5
3  Maverick, Texas      48323.0               95.1
4    Zapata, Texas      48505.0               94.8

In [17]:
#place all demographic dfs into list for merging
Tx_list = [Tx_income_df,Tx_uninsured_df,Tx_poverty_white_df,Tx_poverty_black_df,Tx_poverty_asian_df,
           Tx_poverty_foreign_born_df,Tx_poverty_native_df,Tx_poverty_hispanic_df,Tx_poverty_non_hispanic_df,]

In [18]:
#Merge list of dfs into one dataframe
from functools import reduce

Tx_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Texas Counties"],
                                            how='outer'), Tx_list)

Tx_merged.to_csv('Texas_demo.csv', encoding='utf-8')

Tx_merged.head()

C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\4000900993.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Tx_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Texas Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\4000900993.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Tx_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Texas Counties"],
C:\Users\jordo\AppData\Local\Temp\ipykernel_10248\4000900993.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'County FIPS_x'} in the result is deprecated and will raise a MergeError in a future version.
  Tx_merged = reduce(lambda  left,right: pd.merge(left,right,on=["Texas Counties"],

,Texas Counties,County FIPS_x,Dollars,County FIPS_y,Uninsured Percent,County FIPS_x,White Poverty %,County FIPS_y,Black Poverty %,County FIPS_x,Asian Poverty %,County FIPS_y,Foreign Poverty %,County FIPS_x,Native Poverty %,County FIPS_y,Hispanic Poverty %,County FIPS,Non Hispanic Poverty %
0,"Rockwall, Texas",48397.0,111595,48397.0,3.6,48397.0,77.4,48397.0,7.2,48397.0,3.1,48397.0,8.9,48397.0,0.9,48397.0,18.8,48397.0,81.2
1,"Collin, Texas",48085.0,104327,48085.0,4.3,48085.0,62.9,48085.0,10.1,48085.0,16.4,48085.0,21.8,48085.0,0.4,48085.0,15.6,48085.0,84.4
2,"Fort Bend, Texas",48157.0,102590,48157.0,5.5,48157.0,44.8,48157.0,20.2,48157.0,21.0,48157.0,29.3,48157.0,0.3,48157.0,24.9,48157.0,75.1
3,"Kendall, Texas",48259.0,100706,48259.0,4.2,48259.0,82.9,48259.0,0.3,48259.0,1.4,48259.0,6.9,48259.0,0.5,48259.0,24.8,48259.0,75.2
4,"Denton, Texas",48121.0,96265,48121.0,4.1,48121.0,68.2,48121.0,10.3,48121.0,9.6,48121.0,15.9,48121.0,0.5,48121.0,19.6,48121.0,80.4