In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
income_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Income_Median_Household_Income_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
income_df.dropna(how='all', axis=1, inplace=True)

uninsured_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Uninsured_Unemployed_(Both_Sexes_-_Ages_16+_-_2017_to_2021)_2017_-_2021.csv")
uninsured_df.dropna(how='all', axis=1, inplace=True)

poverty_white_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_White_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_white_df.dropna(how='all', axis=1, inplace=True)

poverty_black_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_Black_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_black_df.dropna(how='all', axis=1, inplace=True)

poverty_asian_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_Asian_Pacific_Islander_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_asian_df.dropna(how='all', axis=1, inplace=True)

poverty_foreign_born_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_Foreign_Born_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_foreign_born_df.dropna(how='all', axis=1, inplace=True)

poverty_native_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_American_Indian_Alaska_Native_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_native_df.dropna(how='all', axis=1, inplace=True)

poverty_hispanic_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_Hispanic_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_hispanic_df.dropna(how='all', axis=1, inplace=True)

poverty_non_hispanic_df = pd.read_csv(
    "New York/Demographics_New_York_Counties_Poverty_Non-Hispanic_(Origin_Recode_(Both_Sexes_-_2017_to_2021)_2017_-_2021.csv")
poverty_non_hispanic_df.dropna(how='all', axis=1, inplace=True)

poverty_white_df.head()

         Demographics  New York Counties  Poverty
0                Area        County FIPS  Percent
1     Yates, New York              36123     96.2
2  Chenango, New York              36017     95.5
3     Tioga, New York              36107     95.4
4  Schuyler, New York              36097     95.3

In [3]:
#Ensure all demo dfs have thw same columns and are all uniformly named
poverty_white_df.columns = ["Demographics", "New York Counties", "White Poverty %"]
poverty_black_df.columns = ["Demographics", "New York Counties", "Black Poverty %"]
poverty_asian_df.columns = ["Demographics", "New York Counties", "Asian Poverty %"]
poverty_foreign_born_df.columns = ["Demographics", "New York Counties", "Foreign Poverty %"]
poverty_native_df.columns = ["Demographics", "New York Counties", "Native Poverty %"]
poverty_hispanic_df.columns = ["Demographics", "New York Counties", "Hispanic Poverty %"]
poverty_non_hispanic_df.columns = ["Demographics", "New York Counties", "Non Hispanic Poverty %"]

#Display new df
poverty_asian_df.head()

         Demographics New York Counties Asian Poverty %
0                Area       County FIPS         Percent
1    Queens, New York             36081            25.8
2  New York, New York             36061            12.0
3     Kings, New York             36047            11.9
4    Nassau, New York             36059            10.5

In [16]:
#Display income df before merging
income_df.head()

            Demographics  New York Counties   Income
0                   Area        County FIPS  Dollars
1       Nassau, New York              36059   126576
2      Suffolk, New York              36103   111660
3       Putnam, New York              36079   111617
4  Westchester, New York              36119   105387

In [17]:
#Create list for multi - dataframe merging
df_list = [income_df,uninsured_df,poverty_white_df,poverty_black_df,poverty_asian_df,poverty_foreign_born_df,poverty_native_df,
            poverty_hispanic_df,poverty_non_hispanic_df,]

In [18]:
#import functools for merging
from functools import reduce

#Merge dfs and export to file
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Demographics'],
                                            how='outer'), df_list)
df_merged.to_csv('NY_demo.csv', encoding='utf-8')
#Display dataframe
df_merged.head()

C:\Users\sholl\AppData\Local\Temp\ipykernel_25304\3295955727.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Vermont Counties_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Demographics'],
C:\Users\sholl\AppData\Local\Temp\ipykernel_25304\3295955727.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Vermont Counties_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Demographics'],

,Demographics,New York Counties_x,Income,New York Counties_y,Uninsured,Vermont Counties_x,White Poverty %,Vermont Counties_y,Black Poverty %,Vermont Counties_x,Asian Poverty %,Vermont Counties_y,Foreign Poverty %,Vermont Counties_x,Native Poverty %,Vermont Counties_y,Hispanic Poverty %,Vermont Counties,Non Hispanic Poverty %
0,Area,County FIPS,Dollars,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent,County FIPS,Percent
1,"Nassau, New York",36059,126576,36059,4.5,36059,64.6,36059,11.5,36059,10.5,36059,22.4,36059,0.3,36059,17.2,36059,82.8
2,"Suffolk, New York",36103,111660,36103,4.8,36103,76.3,36103,7.5,36103,4.1,36103,15.5,36103,0.3,36103,19.9,36103,80.1
3,"Putnam, New York",36079,111617,36079,4.8,36079,83.2,36079,3.5,36079,2.1,36079,13.9,36079,0.2,36079,16.2,36079,83.8
4,"Westchester, New York",36119,105387,36119,6.1,36119,59.9,36119,14.6,36119,6.1,36119,25.3,36119,0.4,36119,25.2,36119,74.8